views/index.pug
doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Bootstrap CSS
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css' integrity='sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2' crossorigin='anonymous')
  title Hello, world!
h1.display-4(style='padding-bottom: 2vh; text-align: center') Wat moet u doen met dit weer
.container
  .row
    if uv.value < 3
      .p-3.mb-2.bg-success.text-white
        p.font-weight-bold Geen bescherming nodig
        p U kunt zich veilig buiten begeven.
    if uv.value < 6 && uv.value > 2
      .p-3.mb-2.bg-warning.text-white
        p.font-weight-bold Bescherming nodig
        p
          | Wanneer u zich voor langere tijd in de zon begeeft, zeker als u een lichte huid heeft.
        p Niet langer dan 20 - 35 min in de zon.
    else if uv.value < 8 && uv.value > 5
      .p-3.mb-2.bg-danger.text-white
        p.font-weight-bold Extra bescherming essentieel
        p
          | Draag een zonnebril, hoofddeksel en beschermende kleding. Smeer u goed in met zonnecreme en blijf overdag zoveel mogelijk uit de zon.
        p Niet langer dan 10 - 20 min in de zon.
    else if uv.value < 11 && uv.value > 7
      .p-3.mb-2.bg-danger.text-white
        p.font-weight-bold Zoek de schaduw op
        p
          | Draag een zonnebril, hoofddeksel en beschermende kleding. Smeer u groed en regelmatig in met zonnecreme en blijf overdag ui de zon.
        p Niet langer dan 5 - 10 min in de zon.
    else if uv.value > 10
      .p-3.mb-2.bg-danger.text-white
        p.font-weight-bold Verzet uw buitenactiviteiten naar de vroege ochtend en avond
        p Volledige bescherming is essentieel.
        p Niet langer dan 5 min in de zon.
    .col-sm(style='text-align: center')
      h1 Weer API
      p
        span="Plaats: Hoofddorp"
        span= weather.city
      p
        span="Weer bericht: "
        span= weather.summary
      p
        span="Temperatuur: "
        span= weather.temperature + "°"

script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js' integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj' crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js' integrity='sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx' crossorigin='anonymous')

views/index.html
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>
<body>
    <h1 class="display-4" style="padding-bottom: 2vh; text-align: center">Wat moet u doen met dit weer</h1>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="p-3 mb-2 bg-success text-white">
                    <p class="font-weight-bold ">Geen bescherming nodig</p>
                    <p>U kunt zich veilig buiten begeven.</p>
                </div>
                <div class="p-3 mb-2 bg-warning text-white">
                    <p class="font-weight-bold">Bescherming nodig</p>
                    <p>Wanneer u zich voor langere tijd in de zon begeeft, zeker als u een lichte huid heeft.</p>
                    <p>Niet langer dan 20 - 35 min in de zon.</p>
                </div>
                <div class="p-3 mb-2 bg-danger text-white">
                    <p class="font-weight-bold">Extra bescherming essentieel</p>
                    <p>Draag een zonnebril, hoofddeksel en beschermende kleding. Smeer u goed in met zonnecreme en blijf overdag zoveel mogelijk uit de zon.</p>
                    <p>Niet langer dan 10 - 20 min in de zon.</p>
                </div>
                <div class="p-3 mb-2 bg-danger text-white">
                    <p class="font-weight-bold">Zoek de schaduw op</p>
                    <p>Draag een zonnebril, hoofddeksel en beschermende kleding. Smeer u groed en regelmatig in met zonnecreme en blijf overdag ui de zon.</p>
                    <p>Niet langer dan 5 - 10 min in de zon.</p>
                </div>
                <div class="p-3 mb-2 bg-danger text-white">
                    <p class="font-weight-bold">Verzet uw buitenactiviteiten naar de vroege ochtend en avond</p>
                    <p>Volledige bescherming is essentieel.</p>
                    <p>Niet langer dan 5 min in de zon.</p>
                </div>
              </div>
            <div class="col-sm" style="text-align: center">
                <h1>Weer API</h1>
                <p>Plaats: Amsterdam</p>
                <p>Temperatuur: 14</p>
            </div>
        </div>
    </div>

<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

<!-- Option 2: jQuery, Popper.js, and Bootstrap JS
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
-->
</body>
</html>
